<nav class="navbar navbar-expand-md navbar-white bg-white nav-boxshadow">
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">

  </div>
  <div class="mx-auto order-0">
    <a class="navbar-brand mx-auto" href="#">Let's Go</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">

  </div>
</nav>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<nav class="navleftbar">
  <ul class="nav navleftbar-navleft nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="logo">
      <a href="/automobiliste" class="navleft-link">
        <span class="link-text logo-text">Let's Go</span>
        <svg aria-hidden="true" focusable="false" data-prefix="fad" data-icon="angle-double-right" role="img"
          xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
          class="svg-inline--fa fa-angle-double-right fa-w-14 fa-5x">
          <g class="fa-group">
            <path fill="currentColor"
              d="M224 273L88.37 409a23.78 23.78 0 0 1-33.8 0L32 386.36a23.94 23.94 0 0 1 0-33.89l96.13-96.37L32 159.73a23.94 23.94 0 0 1 0-33.89l22.44-22.79a23.78 23.78 0 0 1 33.8 0L223.88 239a23.94 23.94 0 0 1 .1 34z"
              class="fa-secondary"></path>
            <path fill="currentColor"
              d="M415.89 273L280.34 409a23.77 23.77 0 0 1-33.79 0L224 386.26a23.94 23.94 0 0 1 0-33.89L320.11 256l-96-96.47a23.94 23.94 0 0 1 0-33.89l22.52-22.59a23.77 23.77 0 0 1 33.79 0L416 239a24 24 0 0 1-.11 34z"
              class="fa-primary"></path>
          </g>
        </svg>
      </a>
    </li>

    <li class="navleft-item">
      <a class="navleft-link active" id="nav-home-tab" data-toggle="pill" href="#nav-home" role="tab"
        aria-controls="nav-home" aria-selected="true">
        <svg aria-hidden="true" focusable="false" data-prefix="fad" data-icon="cat" role="img"
          xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-cat fa-w-16 fa-9x">
          <g class="fa-group">
            <path fill="#ff7f40"
              d="m344.85 7.8c-15.899-4.501-45.298-6.901-89.099-7.5-8.699-.3-17.701-.3-27.599-.3h-167.401v512h124.799v-183.201c15.901-.298 42.001.601 70.201-.298 26.7-.601 55.201-2.401 78.3-6.901 72.601-15.899 111.601-78.9 116.7-144.899.601-9.302.601-18.602.3-27.601-4.2-63.3-39.6-123.601-106.201-141.3zm-52.798 203.099c-7.8 3.001-21.301 4.801-36.301 5.7-24.901 1.5-54.6.901-70.201.601v-105.901c14.702-.298 45.901-.298 70.201.601 1.5 0 2.999.3 4.2.3 3.9 0 7.5.3 10.8.601 4.501.599 8.401.899 11.4 1.5 51.301 9.299 54.3 78.899 9.901 96.598z"
              class="fa-secondary"></path>
            <path fill="#f25a3c"
              d="m451.052 149.099c.3 9 .3 18.3-.3 27.601-5.099 65.999-44.099 129-116.7 144.899-23.099 4.501-51.599 6.301-78.3 6.901v-111.901c15-.899 28.5-2.699 36.301-5.7 44.399-17.699 41.4-87.299-9.901-96.599-2.999-.601-6.899-.901-11.4-1.5-3.3-.3-6.899-.601-10.8-.601-1.201 0-2.701-.3-4.2-.3v-111.599c43.801.599 73.2 2.999 89.099 7.5 66.6 17.699 102 78 106.201 141.299z"
              class="fa-primary"></path>
          </g>
        </svg>
        <span class="link-text">Ponctuel</span>
      </a>
    </li>

    <li class="navleft-item">
      <a class="navleft-link" id="nav-profile-tab" data-toggle="pill" href="#nav-profile" role="tab"
        aria-controls="nav-profile" aria-selected="false">
        <svg aria-hidden="true" focusable="false" data-prefix="fad" data-icon="alien-monster" role="img"
          xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"
          class="svg-inline--fa fa-alien-monster fa-w-18 fa-9x">
          <g class="fa-group">
            <path fill="#6cf"
              d="m271.33 198.65c-11.12 3.15-33.31 4.15-55.83 4.39-21.34.23-42.98-.24-55.8-.24v-91.5c12.77-.04 35-.15 55.8-.06 8.75.09 40.15.15 48.3 1.26 23.7 4.2 35.7 18.6 35.7 43.2 0 20.9-8.468 37.048-28.17 42.95zm78.57 114.85v-.3c-7.5-7.8-15.6-15.6-25.2-23.1 65.4-20.7 102-70.5 102-140.4 0-63-33.3-116.1-84.6-135.9-24.6-9.3-61.8-13.8-114-13.8h-192.6v512h124.2v-202.1c36.71 0 34.85 5.89 48 20.1 2 2.19 4.63 5.45 7.8 9.66 20.91 27.74 70.28 105.84 96.32 146.31.874 1.342-2.339-3.628 16.78 26.03h147.9c-60.86-101.47-104.65-174.39-126.6-198.5z"
              class="fa-secondary"></path>
            <path fill="#59abff"
              d="m476.5 512h-147.9c-18.774-29.123-16.148-25.043-16.78-26.03-26.04-40.47-75.41-118.57-96.32-146.31v-136.62c22.52-.24 44.71-1.24 55.83-4.39 19.7-5.9 28.17-22.05 28.17-42.95 0-24.6-12-39-35.7-43.2-8.15-1.11-39.55-1.17-48.3-1.26v-111.24h12.6c52.2 0 89.4 4.5 114 13.8 51.3 19.8 84.6 72.9 84.6 135.9 0 69.9-36.6 119.7-102 140.4 9.6 7.5 17.7 15.3 25.2 23.1v.3c21.95 24.11 65.74 97.03 126.6 198.5z"
              class="fa-primary"></path>
          </g>
        </svg>
        <span class="link-text">Regulier</span>
      </a>
    </li>

    <li class="navleft-item">
      <a class="navleft-link" id="nav-contact-tab" data-toggle="pill" href="#nav-contact" role="tab"
        aria-controls="nav-contact" aria-selected="false">
        <svg aria-hidden="true" focusable="false" data-prefix="fad" data-icon="alien-monster" role="img"
          xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"
          class="svg-inline--fa fa-alien-monster fa-w-18 fa-9x">
          <g class="fa-group">
            <path fill="#66ffae"
              d="m271.33 198.65c-11.12 3.15-33.31 4.15-55.83 4.39-21.34.23-42.98-.24-55.8-.24v-91.5c12.77-.04 35-.15 55.8-.06 8.75.09 40.15.15 48.3 1.26 23.7 4.2 35.7 18.6 35.7 43.2 0 20.9-8.468 37.048-28.17 42.95zm78.57 114.85v-.3c-7.5-7.8-15.6-15.6-25.2-23.1 65.4-20.7 102-70.5 102-140.4 0-63-33.3-116.1-84.6-135.9-24.6-9.3-61.8-13.8-114-13.8h-192.6v512h124.2v-202.1c36.71 0 34.85 5.89 48 20.1 2 2.19 4.63 5.45 7.8 9.66 20.91 27.74 70.28 105.84 96.32 146.31.874 1.342-2.339-3.628 16.78 26.03h147.9c-60.86-101.47-104.65-174.39-126.6-198.5z"
              class="fa-secondary"></path>
            <path fill="#59ffc0"
              d="m476.5 512h-147.9c-18.774-29.123-16.148-25.043-16.78-26.03-26.04-40.47-75.41-118.57-96.32-146.31v-136.62c22.52-.24 44.71-1.24 55.83-4.39 19.7-5.9 28.17-22.05 28.17-42.95 0-24.6-12-39-35.7-43.2-8.15-1.11-39.55-1.17-48.3-1.26v-111.24h12.6c52.2 0 89.4 4.5 114 13.8 51.3 19.8 84.6 72.9 84.6 135.9 0 69.9-36.6 119.7-102 140.4 9.6 7.5 17.7 15.3 25.2 23.1v.3c21.95 24.11 65.74 97.03 126.6 198.5z"
              class="fa-primary"></path>
          </g>
        </svg>
        <span class="link-text">Reservation</span>
      </a>
    </li>


    <li class="navleft-item">
      <a routerLink="/automobiliste" class="navleft-link">
        <svg aria-hidden="true" focusable="false" data-prefix="fad" data-icon="space-shuttle" role="img"
          xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"
          class="svg-inline--fa fa-space-shuttle fa-w-20 fa-5x">
          <g class="fa-group">
            <path fill="currentColor"
              d="M560.149,346.928v-75.854c0-16.687-7.888-41.028-44.288-64.385c0,0-48.07-104.724-133.616-104.724h-195.41
              c-85.544,0-133.618,104.724-133.618,104.724c-36.403,23.357-44.289,47.698-44.289,64.385v75.854C3.957,347.2,0,351.315,0,356.358
              v48.277c0,4.127,2.668,7.523,6.346,8.812v44.202c0,5.22,4.224,9.454,9.449,9.454h65.079c5.224,0,9.446-4.234,9.446-9.454v-43.759
              c26.753-8.84,53.699-15.235,80.249-19.64h227.951c26.547,4.404,53.479,10.8,80.247,19.64v43.759c0,5.22,4.213,9.454,9.438,9.454
              h65.085c5.215,0,9.44-4.234,9.44-9.454v-44.202c3.678-1.288,6.338-4.692,6.338-8.812v-48.277
              C569.068,351.315,565.113,347.2,560.149,346.928z M142.341,351.211H72.418c-10.539,0-19.123-8.585-19.123-19.109v-19.12
              c0-10.538,8.586-19.118,19.123-19.118c1.105,0,2.205,0.188,3.244,0.573l79.482,28.68c3.801,1.372,6.31,4.961,6.31,8.995
              C161.454,342.626,152.881,351.211,142.341,351.211z M350.007,346.18c0,4.048-3.281,7.324-7.324,7.324H226.406
              c-4.052,0-7.324-3.276-7.324-7.324v-17.093c0-4.05,3.274-7.324,7.324-7.324h116.277c4.056,0,7.324,3.274,7.324,7.324V346.18z
               M102.966,208.858c19.072-33.251,51.861-75.764,94.847-75.764h173.435c42.984,0,75.788,42.513,94.854,75.764H102.966z
               M515.785,332.083c0,10.543-8.583,19.126-19.126,19.126h-69.922c-10.545,0-19.123-8.583-19.123-19.126
              c0-4.035,2.531-7.625,6.321-9.006l79.477-28.671c1.06-0.387,2.133-0.573,3.247-0.573c10.546,0,19.126,8.582,19.126,19.118V332.083z"
              class="fa-secondary"></path>
          </g>
        </svg>
        <span class="link-text">Automobiliste</span>
      </a>
    </li>

    <li class="navleft-item">
      <a routerLink="/profile" class="navleft-link">
        <svg aria-hidden="true" focusable="false" data-prefix="fad" data-icon="space-shuttle" role="img"
          xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"
          class="svg-inline--fa fa-space-shuttle fa-w-20 fa-5x">
          <g class="fa-group">
            <path style="fill:#45C1F1;" d="M121,135c0,74.443,60.557,135,135,135s135-60.557,135-135S330.443,0,256,0S121,60.557,121,135z"/>
            <path style="fill:#44A4EC;" d="M391,135C391,60.557,330.443,0,256,0v270C330.443,270,391,209.443,391,135z"/>
            <path style="fill:#45C1F1;" d="M31,497c0,8.291,6.709,15,15,15h420c8.291,0,15-6.709,15-15c0-107.52-87.48-197-195-197h-60
              C118.48,300,31,389.48,31,497z"/>
            <path style="fill:#44A4EC;" d="M286,300h-30v212h210c8.291,0,15-6.709,15-15C481,389.48,393.52,300,286,300z"/>
          </g>
        </svg>
        <span class="link-text">Profile</span>
      </a>
    </li>


    <li class="navleft-item">
      <a class="navleft-link" id="nav-contact-tab" data-toggle="pill" routerLink="/signout" role="tab"
        aria-controls="nav-contact" aria-selected="false">
        <svg aria-hidden="true" focusable="false" data-prefix="fad" data-icon="space-station-moon-alt" role="img"
          xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
          class="svg-inline--fa fa-space-station-moon-alt fa-w-16 fa-5x">
          <g class="fa-group">
            <path fill="currentColor"
              d="m320 277.335938c-11.796875 0-21.332031 9.558593-21.332031 21.332031v85.335937c0 11.753906-9.558594 21.332032-21.335938 21.332032h-64v-320c0-18.21875-11.605469-34.496094-29.054687-40.554688l-6.316406-2.113281h99.371093c11.777344 0 21.335938 9.578125 21.335938 21.335937v64c0 11.773438 9.535156 21.332032 21.332031 21.332032s21.332031-9.558594 21.332031-21.332032v-64c0-35.285156-28.714843-63.99999975-64-63.99999975h-229.332031c-.8125 0-1.492188.36328175-2.28125.46874975-1.027344-.085937-2.007812-.46874975-3.050781-.46874975-23.53125 0-42.667969 19.13281275-42.667969 42.66406275v384c0 18.21875 11.605469 34.496093 29.054688 40.554687l128.386718 42.796875c4.351563 1.34375 8.679688 1.984375 13.226563 1.984375 23.53125 0 42.664062-19.136718 42.664062-42.667968v-21.332032h64c35.285157 0 64-28.714844 64-64v-85.335937c0-11.773438-9.535156-21.332031-21.332031-21.332031zm0 0"
              class="fa-secondary"></path>
            <path fill="currentColor"
              d="m505.75 198.253906-85.335938-85.332031c-6.097656-6.101563-15.273437-7.9375-23.25-4.632813-7.957031 3.308594-13.164062 11.09375-13.164062 19.714844v64h-85.332031c-11.777344 0-21.335938 9.554688-21.335938 21.332032 0 11.777343 9.558594 21.332031 21.335938 21.332031h85.332031v64c0 8.621093 5.207031 16.40625 13.164062 19.714843 7.976563 3.304688 17.152344 1.46875 23.25-4.628906l85.335938-85.335937c8.339844-8.339844 8.339844-21.824219 0-30.164063zm0 0"
              class="fa-primary"></path>
          </g>
        </svg>
        <span class="link-text">Log Out</span>
      </a>
    </li>

  </ul>
</nav>


<div class="container" id="main-container">


<br>


  <div *ngIf="annonces?.length != 0" class="row">

    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col col-md-3" style="text-align: center;">
          <button class="btn btn-primary" (click)="onOpenModal(null, 'addAlert')"><i class="fa fa-plus"
              aria-hidden="true"></i> Alert</button>
        </div>
      </div>

    </div>


    <div class="col-12 col-sm-12 col-md-12">
      <div class="card">

        <div class="card-body">

          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">


              <div class="container">
                <div class="row">
                  <div class="col">Ponctuel</div>
                </div>
                <div class="row justify-content-md-center">
                  <div class="col col-md-3">          
                <!-- Filter debut_trajet -->
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <mat-form-field class="filter" floatLabel="never">
                  <mat-label>Search debut_trajet</mat-label>
                  <input matInput [formControl]="debut_trajetPonctuelFilter">
                </mat-form-field>
                  </div>
                  <div class="col col-md-3">
                    <!-- Filter arrivee_trajet -->
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <mat-form-field class="filter" floatLabel="never">
                      <mat-label>Search arrivee_trajet</mat-label>
                      <input matInput [formControl]="arrivee_trajetPonctuelFilter">
                    </mat-form-field>
                  </div>
                  <div class="col col-md-3">
                    <!-- Filter date_debut -->
                    <mat-form-field class="filter" floatLabel="never">
                      <mat-label>Search date_debut</mat-label>
                      <input type="date" matInput [formControl]="date_debutPonctuelFilter">
                    </mat-form-field>
                  </div>
                  <div class="col col-md-3">
                    <!-- Filter date_arrivee -->
                    <mat-form-field class="filter" floatLabel="never">
                      <mat-label>Search date_arrivee</mat-label>
                      <input type="date" matInput [formControl]="date_arriveePonctuelFilter">
                    </mat-form-field>
                  </div>
                </div>

              </div>


              <!-- ****************** Ponctuel *********************** -->
              <div class="mat-elevation-z8">

                <!-- Table Ponctuel  -->
                <mat-table [dataSource]="dataPonctuel" #TablePonctuelSort="matSort" matSort>
                  <!-- debut_trajet Definition -->
                  <ng-container matColumnDef="debut_trajet">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>debut_trajet </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="debut_trajet"><i class="fa fa-map-marker"
                        aria-hidden="true"></i> {{row.debut_trajet}} </mat-cell>
                  </ng-container>

                  <!-- arrivee_trajet Definition -->
                  <ng-container matColumnDef="arrivee_trajet">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> arrivee_trajet </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="arrivee_trajet"><i class="fa fa-map-marker"
                        aria-hidden="true"></i> {{row.arrivee_trajet}} </mat-cell>
                  </ng-container>

                  <!-- date_debut Definition -->
                  <ng-container matColumnDef="date_debut">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> date_debut </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="date_debut"> {{row.date_debut}} </mat-cell>
                  </ng-container>

                  <!-- date_arrivee Definition -->
                  <ng-container matColumnDef="date_arrivee">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> date_arrivee </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="date_arrivee"> {{row.date_arrivee}} </mat-cell>
                  </ng-container>

                  <!-- heure_debut Definition -->
                  <ng-container matColumnDef="heure_debut">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> heure_debut </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="heure_debut"> {{row.heure_debut}} </mat-cell>
                  </ng-container>

                  <!-- heure_arrivee Definition -->
                  <ng-container matColumnDef="heure_arrivee">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> heure_arrivee </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="heure_arrivee"> {{row.heure_arrivee}} </mat-cell>
                  </ng-container>

                  <!-- nbr_place Definition -->
                  <ng-container matColumnDef="nbr_place">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> nbr_place </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="nbr_place"> {{row.nbr_place}} </mat-cell>
                  </ng-container>

                  <!-- frais Definition -->
                  <ng-container matColumnDef="frais">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> frais </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="frais"> {{row.frais}} </mat-cell>
                  </ng-container>

                  <!-- Action Definition -->
                  <ng-container matColumnDef="Action">
                    <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="Action">
                      <ng-container *ngIf="calculateDiff(row.date_debut,row.heure_debut) <= -24">
                        <a (click)="onOpenModal(row, 'info')" class="text-success mr-4" data-placement="top" title=""
                        data-original-title="Info"> <i class="fa fa-info h5 m-0"></i></a>
                      </ng-container>
                      
                    </mat-cell>
                  </ng-container>

                  <!-- Header and Row Declarations -->
                  <mat-header-row *matHeaderRowDef="displayedColumnsPonctuel"></mat-header-row>
                  <mat-row class="make-BGG"
                   *matRowDef="let row; columns: displayedColumnsPonctuel"></mat-row>

                </mat-table>
                <mat-paginator #TablePonctuelPaginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
                </mat-paginator>
              </div>

            </div>
            <!-- Annonces Regulier -->
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

              <!-- ****************** Regulier *********************** -->


              <div class="container">
                <div class="row">
                  <div class="col">Regulier</div>
                </div>
                <div class="row justify-content-md-center">
                  <div class="col col-md-3">          
                <!-- Filter debut_trajet -->
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <mat-form-field class="filter" floatLabel="never">
                  <mat-label>Search debut_trajet</mat-label>
                  <input matInput [formControl]="debut_trajetRegulierFilter">
                </mat-form-field>
                  </div>
                  <div class="col col-md-3">
                    <!-- Filter arrivee_trajet -->
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <mat-form-field class="filter" floatLabel="never">
                      <mat-label>Search arrivee_trajet</mat-label>
                      <input matInput [formControl]="arrivee_trajetRegulierFilter">
                    </mat-form-field>
                  </div>
                  <div class="col col-md-3">
                    <!-- Filter date_debut -->
                    <mat-form-field class="filter" floatLabel="never">
                      <mat-label>Search date_debut</mat-label>
                      <input type="time" matInput [formControl]="heure_debutRegulierFilter">
                    </mat-form-field>
                  </div>
                  <div class="col col-md-3">
                    <!-- Filter date_arrivee -->
                    <mat-form-field class="filter" floatLabel="never">
                      <mat-label>Search date_arrivee</mat-label>
                      <input type="time" matInput [formControl]="heure_arriveeRegulierFilter">
                    </mat-form-field>
    
                  </div>
                </div>

              </div>


              <div class="mat-elevation-z8">

                <!-- Table Regulier  -->
                <mat-table [dataSource]="dataRegulier" #TableRegulierSort="matSort" matSort>
                  <!-- debut_trajet Definition -->
                  <ng-container matColumnDef="debut_trajet">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>debut_trajet </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="debut_trajet"><i class="fa fa-map-marker"
                        aria-hidden="true"></i> {{row.debut_trajet}} </mat-cell>
                  </ng-container>

                  <!-- arrivee_trajet Definition -->
                  <ng-container matColumnDef="arrivee_trajet">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> arrivee_trajet </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="arrivee_trajet"><i class="fa fa-map-marker"
                        aria-hidden="true"></i> {{row.arrivee_trajet}} </mat-cell>
                  </ng-container>


                  <!-- heure_debut Definition -->
                  <ng-container matColumnDef="heure_debut">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> heure_debut </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="heure_debut"> {{row.heure_debut}} </mat-cell>
                  </ng-container>

                  <!-- heure_arrivee Definition -->
                  <ng-container matColumnDef="heure_arrivee">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> heure_arrivee </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="heure_arrivee"> {{row.heure_arrivee}} </mat-cell>
                  </ng-container>

                  <!-- jour Definition -->
                  <ng-container matColumnDef="jour">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> jour </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="jour"> {{row.jour}} </mat-cell>
                  </ng-container>

                  <!-- nbr_place Definition -->
                  <ng-container matColumnDef="nbr_place">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> nbr_place </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="nbr_place"> {{row.nbr_place}} </mat-cell>
                  </ng-container>

                  <!-- frais Definition -->
                  <ng-container matColumnDef="frais">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> frais </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="frais"> {{row.frais}} </mat-cell>
                  </ng-container>

                  <!-- Action Definition -->
                  <ng-container matColumnDef="Action">
                    <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="Action">
                      <a (click)="onOpenModal(row, 'info')" class="text-success mr-4" data-placement="top" title=""
                        data-original-title="Info"> <i class="fa fa-info h5 m-0"></i></a>
                    </mat-cell>
                  </ng-container>

                  <!-- Header and Row Declarations -->
                  <mat-header-row *matHeaderRowDef="displayedColumnsRegulier"></mat-header-row>
                  <mat-row class="make-BGG" *matRowDef="let row; columns: displayedColumnsRegulier"></mat-row>

                </mat-table>
                <mat-paginator #TableRegulierPaginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
                </mat-paginator>
              </div>

            </div>
            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">

               <!-- ****************** Reservation *********************** -->


                
                
                <div class="mat-elevation-z8">
                
                <!-- Table Reservation  -->
                <mat-table [dataSource]="dataReservation" #TableReservationSort="matSort" matSort>
                  <!-- debut_trajet Definition -->
                  <ng-container matColumnDef="debut_trajet">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>debut_trajet </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="debut_trajet"><i class="fa fa-map-marker"
                        aria-hidden="true"></i> {{row.annonce.debut_trajet}} </mat-cell>
                  </ng-container>
                
                  <!-- arrivee_trajet Definition -->
                  <ng-container matColumnDef="arrivee_trajet">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> arrivee_trajet </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="arrivee_trajet"><i class="fa fa-map-marker"
                        aria-hidden="true"></i> {{row.annonce.arrivee_trajet}} </mat-cell>
                  </ng-container>
                
                
                
                  <!-- jour Definition -->
                  <ng-container matColumnDef="regulier">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> regulier </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="regulier"><label *ngIf="row?.annonce.regulier == false">Non</label> <label *ngIf="row?.annonce.regulier == true">Oui</label>  </mat-cell>
                  </ng-container>
                
                  <!-- nbr_place Definition -->
                  <ng-container matColumnDef="statut">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> statut </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="statut" [class.greentable]="row.statut == 'Approuve'" [class.redtable]="row.statut == 'Rejete'"><i class="fa fa-marginright" [class.fa-history]="row.statut == 'En Attend'"
                      [class.fa-check-square]="row.statut == 'Approuve'" [class.fa-minus-circle]="row.statut == 'Rejete'"></i> {{row.statut}} </mat-cell>
                  </ng-container>
                
                
                  <!-- Action Definition -->
                  <ng-container matColumnDef="Action">
                    <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="Action">
                      <a (click)="onOpenModalReservation(row, 'infoReservation')" class="text-success mr-4" data-placement="top" title=""
                        data-original-title="Info"> <i class="fa fa-info h5 m-0"></i></a>
                    </mat-cell>
                  </ng-container>
                
                  <!-- Header and Row Declarations -->
                  <mat-header-row *matHeaderRowDef="displayedColumnsReservation"></mat-header-row>
                  <mat-row class="make-BGG" *matRowDef="let row; columns: displayedColumnsReservation"></mat-row>
                
                </mat-table>
                <mat-paginator #TableReservationPaginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
                </mat-paginator>
                </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->
</div>


<!-- Info Reservation Modal -->

<div class="modal fade" id="infoReservationModal" tabindex="-1" role="dialog" aria-labelledby="infoReservationModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="infoReservationModalLabel">Info Reservation {{infoReservation?.id}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="content">

          <!-- container -->
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <div class="media mt-0 m-b-30 mx-auto" style="width: max-content;">
                  <div class="avatar">
                    <span class="avatar-text avatar-text-primary rounded-circle"
                      style="width: 48px; height: 48px;"><span
                        class="initial-wrap"><span>{{infoReservation?.internaute.avatar}}</span></span> </span>
                  </div>
                  <div class="media-body">
                    <h3 class="media-heading mb-0 mt-0">{{infoReservation?.internaute.nom}}
                      {{infoReservation?.internaute.prenom}}</h3><span
                      [class.badge-male]="infoReservation?.internaute.sexe == 'Male'"
                      [class.badge-female]="infoReservation?.internaute.sexe == 'Female'"
                      class="badge">{{infoReservation?.internaute.sexe}}</span>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4">
                <div class="card bg-light card-one">
                  <div class="card-body">

                    <div class="AnnonceDiv">
                      <h3 class="card-title"><b>Automobiliste</b></h3>
                      <div class="card-text">
                        <h5 class="m-b-20  m-b-0 mt-5"><b>CIN</b></h5>
                        <p>{{infoReservation?.internaute.cin}}</p>
                        <ul class="list-inline task-dates lis-inline">
                          <li>
                            <h5 class="m-b-4"><b>Nom</b></h5>
                            <p>{{infoReservation?.internaute.nom}}</p>
                          </li>
                          <li>
                            <h5 class="m-b-4"><b>Prenom</b></h5>
                            <p>{{infoReservation?.internaute.prenom}}</p>
                          </li>
                        </ul>

                        <ul class="list-inline task-dates m-b-20 lis-inline">
                          <li>
                            <h5 class="m-b-4"><b>Sexe</b></h5>
                            <p [class.badge-male]="infoReservation?.internaute.sexe == 'Male'"
                              [class.badge-female]="infoReservation?.internaute.sexe == 'Female'" class="badge">
                              {{infoReservation?.internaute.sexe}}</p>
                          </li>
                          <li>
                            <h5 class="m-b-4"><b>Date de naissance</b></h5>
                            <p>{{infoReservation?.internaute.date_naiss | date:'yyyy-MM-dd'}}</p>
                          </li>
                        </ul>
                        <h5 class="m-b-20"><b>Tel</b></h5>
                        <p>{{infoReservation?.internaute.tel}}</p>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4">
                <div class="card bg-light card-two">
                  <div class="card-body">

                    <div class="AnnonceDiv">
                      <h3 class="card-title"><b>Annonce</b></h3>
                      <div class="card-text">

                        <ul class="list-inline task-dates m-b-0 mt-5 lis-inline">
                          <li>
                            <h5 class="m-b-4"><b>Debut Trajet</b></h5>
                            <p>{{infoReservation?.annonce.debut_trajet}}</p>
                          </li>
                          <li>
                            <h5 class="m-b-4"><b>Arrivee Trajet</b></h5>
                            <p>{{infoReservation?.annonce.arrivee_trajet}}</p>
                          </li>
                        </ul>

                        <ul class="list-inline task-dates m-b-20 lis-inline">
                          <li>
                            <h5 class="m-b-4"><b>Date Debut</b></h5>
                            <p>{{infoReservation?.annonce.date_debut}} <small
                                class="text-muted">{{infoReservation?.annonce.heure_debut}}</small></p>
                          </li>
                          <li>
                            <h5 class="m-b-4"><b>Date Arrivee</b></h5>
                            <p>{{infoReservation?.annonce.date_arrivee}} <small
                                class="text-muted">{{infoReservation?.annonce.heure_arrivee}}</small></p>
                          </li>
                        </ul>
                        <div *ngIf="typeRegulier ==true">
                          <h5 class="m-b-20"><b>Jour</b></h5>
                          <p>{{infoReservation?.annonce.jour}}</p>
                        </div>

                        <h5 class="m-b-20"><b>Nombre Place</b></h5>
                        <p>{{infoReservation?.annonce.nbr_place}}</p>
                        <h5 class="m-b-20"><b>Frais</b></h5>
                        <p>{{infoReservation?.annonce.frais}}</p>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4">
                <div class="card bg-light card-three">
                  <div class="card-body">

                    <div class="AnnonceDiv">
                      <h3 class="card-title"><b>Vehicule</b></h3>
                      <div class="card-text">

                        <h5 class="m-b-20  m-b-0 mt-5"><b>Matricule</b></h5>
                        <p>{{infoReservation?.annonce.vehicule.matricule}}</p>

                        <ul class="list-inline task-dates m-b-20 lis-inline">
                          <li>
                            <h5 class="m-b-4"><b>Marque</b></h5>
                            <p>{{infoReservation?.annonce.vehicule.marque}}</p>
                          </li>
                          <li>
                            <h5 class="m-b-4"><b>Modele</b></h5>
                            <p>{{infoReservation?.annonce.vehicule.modele}}</p>
                          </li>
                        </ul>

                        <h5 class="m-b-20"><b>Couleur</b></h5>
                        <p>{{infoReservation?.annonce.vehicule.couleur}}</p>

                        <h5 class="m-b-20"><b>Date Fin assurance</b></h5>
                        <p>{{infoReservation?.annonce.vehicule.date_fin_assurance | date:'yyyy-MM-dd'}}</p>

                      </div>
                    </div>

                  </div>
                </div>
              </div>

            </div>


            <div class="row">
              <div class="col-sm-12">
                <div class="media mt-0 m-b-30 mx-auto" style="width: max-content;">
                  <div class="media-body">
                    <h2 class="media-heading mb-0 mt-0">Reservation</h2><span
                      [class.badge-secondary]="infoReservation?.statut == 'En Attend'"
                      [class.badge-success]="infoReservation?.statut == 'Approuve'"
                      [class.badge-danger]="infoReservation?.statut == 'Rejete'"
                      class="badge font20">{{infoReservation?.statut}}</span>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>


<!-- Info Annonce Modal -->
<div class="modal fade" id="infoAnnonceModal" tabindex="-1" role="dialog" aria-labelledby="infoAnnonceModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="infoAnnonceModalLabel">Info Annonce {{infoAnnonce?.id}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="content">

          <!-- container -->
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <div class="media mt-0 m-b-30 mx-auto" style="width: max-content;">
                  <div class="avatar">
                    <span class="avatar-text avatar-text-primary rounded-circle"
                      style="width: 48px; height: 48px;"><span
                        class="initial-wrap"><span>{{infoAnnonce?.internaute.avatar}}</span></span> </span>
                  </div>
                  <div class="media-body">
                    <h3 class="media-heading mb-0 mt-0">{{infoAnnonce?.internaute.nom}}
                      {{infoAnnonce?.internaute.prenom}}</h3><span
                      [class.badge-male]="infoAnnonce?.internaute.sexe == 'Male'"
                      [class.badge-female]="infoAnnonce?.internaute.sexe == 'Female'"
                      class="badge">{{infoAnnonce?.internaute.sexe}}</span>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4">
                <div class="card bg-light card-one">
                  <div class="card-body">

                    <div class="AnnonceDiv">
                      <h3 class="card-title"><b>Automobiliste</b></h3>
                      <div class="card-text">
                        <h5 class="m-b-20  m-b-0 mt-5"><b>CIN</b></h5>
                        <p>{{infoAnnonce?.internaute.cin}}</p>
                        <ul class="list-inline task-dates lis-inline">
                          <li>
                            <h5 class="m-b-4"><b>Nom</b></h5>
                            <p>{{infoAnnonce?.internaute.nom}}</p>
                          </li>
                          <li>
                            <h5 class="m-b-4"><b>Prenom</b></h5>
                            <p>{{infoAnnonce?.internaute.prenom}}</p>
                          </li>
                        </ul>

                        <ul class="list-inline task-dates m-b-20 lis-inline">
                          <li>
                            <h5 class="m-b-4"><b>Sexe</b></h5>
                            <p [class.badge-male]="infoAnnonce?.internaute.sexe == 'Male'"
                              [class.badge-female]="infoAnnonce?.internaute.sexe == 'Female'" class="badge">
                              {{infoAnnonce?.internaute.sexe}}</p>
                          </li>
                          <li>
                            <h5 class="m-b-4"><b>Date de naissance</b></h5>
                            <p>{{infoAnnonce?.internaute.date_naiss | date:'yyyy-MM-dd'}}</p>
                          </li>
                        </ul>
                        <h5 class="m-b-20"><b>Tel</b></h5>
                        <p>{{infoAnnonce?.internaute.tel}}</p>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4">
                <div class="card bg-light card-two">
                  <div class="card-body">

                    <div class="AnnonceDiv">
                      <h3 class="card-title"><b>Annonce</b></h3>
                      <div class="card-text">

                        <ul class="list-inline task-dates m-b-0 mt-5 lis-inline">
                          <li>
                            <h5 class="m-b-4"><b>Debut Trajet</b></h5>
                            <p>{{infoAnnonce?.debut_trajet}}</p>
                          </li>
                          <li>
                            <h5 class="m-b-4"><b>Arrivee Trajet</b></h5>
                            <p>{{infoAnnonce?.arrivee_trajet}}</p>
                          </li>
                        </ul>

                        <ul class="list-inline task-dates m-b-20 lis-inline">
                          <li>
                            <h5 class="m-b-4"><b>Date Debut</b></h5>
                            <p>{{infoAnnonce?.date_debut}} <small
                                class="text-muted">{{infoAnnonce?.heure_debut}}</small></p>
                          </li>
                          <li>
                            <h5 class="m-b-4"><b>Date Arrivee</b></h5>
                            <p>{{infoAnnonce?.date_arrivee}} <small
                                class="text-muted">{{infoAnnonce?.heure_arrivee}}</small></p>
                          </li>
                        </ul>
                        <div *ngIf="typeRegulier ==true">
                          <h5 class="m-b-20"><b>Jour</b></h5>
                          <p>{{infoAnnonce?.jour}}</p>
                        </div>

                        <h5 class="m-b-20"><b>Nombre Place</b></h5>
                        <p>{{infoAnnonce?.nbr_place}}</p>
                        <h5 class="m-b-20"><b>Frais</b></h5>
                        <p>{{infoAnnonce?.frais}}</p>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4">
                <div class="card bg-light card-three">
                  <div class="card-body">

                    <div class="AnnonceDiv">
                      <h3 class="card-title"><b>Vehicule</b></h3>
                      <div class="card-text">

                        <h5 class="m-b-20  m-b-0 mt-5"><b>Matricule</b></h5>
                        <p>{{infoAnnonce?.vehicule.matricule}}</p>

                        <ul class="list-inline task-dates m-b-20 lis-inline">
                          <li>
                            <h5 class="m-b-4"><b>Marque</b></h5>
                            <p>{{infoAnnonce?.vehicule.marque}}</p>
                          </li>
                          <li>
                            <h5 class="m-b-4"><b>Modele</b></h5>
                            <p>{{infoAnnonce?.vehicule.modele}}</p>
                          </li>
                        </ul>

                        <h5 class="m-b-20"><b>Couleur</b></h5>
                        <p>{{infoAnnonce?.vehicule.couleur}}</p>

                        <h5 class="m-b-20"><b>Date Fin assurance</b></h5>
                        <p>{{infoAnnonce?.vehicule.date_fin_assurance | date:'yyyy-MM-dd'}}</p>

                      </div>
                    </div>

                  </div>
                </div>
              </div>

            </div>


            <div class="row" *ngIf="existReservation == 1">
              <div class="col-sm-12">
                <div class="media mt-0 m-b-30 mx-auto" style="width: max-content;">
                  <div class="media-body">
                    <h2 class="media-heading mb-0 mt-0">Reservation</h2><span
                      [class.badge-secondary]="reservationVoyageur?.statut == 'En Attend'"
                      [class.badge-success]="reservationVoyageur?.statut == 'Approuve'"
                      [class.badge-danger]="reservationVoyageur?.statut == 'Rejete'"
                      class="badge font20">{{reservationVoyageur?.statut}}</span>
                  </div>
                </div>
              </div>
            </div>

            <form #addForm="ngForm" (ngSubmit)="onAddReservation(addForm)">
              <input type="text" hidden ngModel="{{storageId}}" name="internaute" class="form-control"
                placeholder="id internaute">
              <input type="text" hidden ngModel="{{infoAnnonce?.id}}" name="annonce" class="form-control"
                placeholder="id annonces">
              <div class="form-group" *ngIf="existReservation == 0" >
                <label for="exampleFormControlTextarea1">Remarque</label>
                <textarea ngModel name="remarque" class="form-control" rows="3" required></textarea>
              </div>

              <div class="row mx-auto" style="width: max-content;">
                <div class="col-sm-12">
                  <div class="text-right mt-4">
                    <button  *ngIf="existReservation == 0" type="submit" class="btn btn-success waves-effect waves-light">Reserve</button>
                    <button type="button" class="btn btn-light waves-effect" id="add-reservation-form"
                      data-dismiss="modal">Cancel</button>
                  </div>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="modal fade" id="addAlertModal" tabindex="-1" role="dialog" aria-labelledby="addAlertModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="addAlertModalLabel">Ajouter Alert</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form #addAForm="ngForm" (ngSubmit)="onAddAlert(addAForm)">
        <input type="text" hidden ngModel="{{infoInternaute?.id}}" name="internaute" class="form-control" placeholder="internaute">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="debut_trajet">Debut Trajet</label>

            <select class="form-control" ngModel name="debut_trajet" required>
              <optgroup label="Chaouia-Ouardigha">
                <option value="Benslimane">Benslimane</option>
                <option value="Khouribga">Khouribga</option>
                <option value="Settat">Settat</option>
              </optgroup>
              <optgroup label="Doukhala-Abda">
                <option value="El Jadida">El Jadida</option>
                <option value="Safi">Safi</option>
                <option value="Jerada">Settat</option>
              </optgroup>
              <optgroup label="Fès-Boulemane">
                <option value="Boulmane">Boulmane</option>
                <option value="Fes">Fès</option>
                <option value="Sefrou">Sefrou</option>
              </optgroup>
              <optgroup label="Gharb-Chrarda-Beni-Hssen">
                <option value="Kenitra">Kénitra</option>
                <option value="SidiKacem">Sidi Kacem</option>
              </optgroup>
              <optgroup label="Grand-Casablanca">
                <option value="Casablanca">Casablanca</option>
                <option value="Mediouna">Mediouna</option>
                <option value="Mohammedia">Mohammedia</option>
                <option value="Nouaceur">Nouaceur</option>
              </optgroup>
              <optgroup label="L'Oriental">
                <option value="Berkane">Berkane</option>
                <option value="Figuig">Figuig</option>
                <option value="Jerada">Jerada</option>
                <option value="Nador">Nador</option>
                <option value="Oujda">Oujda</option>
                <option value="Saidia">Saidia</option>
                <option value="Taourirt">Taourirt</option>
              </optgroup>
              <optgroup label="Marrakech-Tensift-Al-Haouz">
                <option value="Al Haouz">Al Haouz</option>
                <option value="Chichaoua">Chichaoua</option>
                <option value="Essaouira">Essaouira</option>
                <option value="Marrakech">Marrakech</option>
              </optgroup>
              <optgroup label="Meknès-Tafilalet">
                <option value="El Hajeb">El Hajeb</option>
                <option value="Errachidia">Errachidia</option>
                <option value="Ifrane">Ifrane</option>
                <option value="Khenifra">Khénifra</option>
                <option value="Meknes">Meknès</option>
              </optgroup>
              <optgroup label="Rabat-Salé-Zemmour-Zaër">
                <option value="Khemisset">Khémisset</option>
                <option value="Rabat">Rabat</option>
                <option value="Sale">Salé</option>
                <option value="Temara">Témara</option>
              </optgroup>
              <optgroup label="Sous-Massa-Drâa">
                <option value="Agadir">Agadir</option>
                <option value="Ouarzazate">Ouarzazate</option>
                <option value="Taroudant">Taroudant</option>
                <option value="Tiznit">Tiznit</option>
                <option value="Zagora">Zagora</option>
              </optgroup>
              <optgroup label="Tanger-Tétouan">
                <option value="Chefchaouen">Chefchaouen</option>
                <option value="Fahs Anjra">Fahs Anjra</option>
                <option value="Larache">Larache</option>
                <option value="Tanger">Tanger</option>
                <option value="Tetouan">Tétouan</option>
              </optgroup>
              <optgroup label="Taza-Al-Hoceima-Taounate">
                <option value="Al Hoceima">Al Hoceima</option>
                <option value="Taounate">Taounate</option>
                <option value="Taza">Taza</option>
              </optgroup>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="arrivee_trajet">Arrivee Trajet</label>

            <select class="form-control" ngModel name="arrivee_trajet" required>
              <optgroup label="Chaouia-Ouardigha">
                <option value="Benslimane">Benslimane</option>
                <option value="Khouribga">Khouribga</option>
                <option value="Settat">Settat</option>
              </optgroup>
              <optgroup label="Doukhala-Abda">
                <option value="El Jadida">El Jadida</option>
                <option value="Safi">Safi</option>
                <option value="Jerada">Settat</option>
              </optgroup>
              <optgroup label="Fès-Boulemane">
                <option value="Boulmane">Boulmane</option>
                <option value="Fes">Fès</option>
                <option value="Sefrou">Sefrou</option>
              </optgroup>
              <optgroup label="Gharb-Chrarda-Beni-Hssen">
                <option value="Kenitra">Kénitra</option>
                <option value="SidiKacem">Sidi Kacem</option>
              </optgroup>
              <optgroup label="Grand-Casablanca">
                <option value="Casablanca">Casablanca</option>
                <option value="Mediouna">Mediouna</option>
                <option value="Mohammedia">Mohammedia</option>
                <option value="Nouaceur">Nouaceur</option>
              </optgroup>
              <optgroup label="L'Oriental">
                <option value="Berkane">Berkane</option>
                <option value="Figuig">Figuig</option>
                <option value="Jerada">Jerada</option>
                <option value="Nador">Nador</option>
                <option value="Oujda">Oujda</option>
                <option value="Saidia">Saidia</option>
                <option value="Taourirt">Taourirt</option>
              </optgroup>
              <optgroup label="Marrakech-Tensift-Al-Haouz">
                <option value="Al Haouz">Al Haouz</option>
                <option value="Chichaoua">Chichaoua</option>
                <option value="Essaouira">Essaouira</option>
                <option value="Marrakech">Marrakech</option>
              </optgroup>
              <optgroup label="Meknès-Tafilalet">
                <option value="El Hajeb">El Hajeb</option>
                <option value="Errachidia">Errachidia</option>
                <option value="Ifrane">Ifrane</option>
                <option value="Khenifra">Khénifra</option>
                <option value="Meknes">Meknès</option>
              </optgroup>
              <optgroup label="Rabat-Salé-Zemmour-Zaër">
                <option value="Khemisset">Khémisset</option>
                <option value="Rabat">Rabat</option>
                <option value="Sale">Salé</option>
                <option value="Temara">Témara</option>
              </optgroup>
              <optgroup label="Sous-Massa-Drâa">
                <option value="Agadir">Agadir</option>
                <option value="Ouarzazate">Ouarzazate</option>
                <option value="Taroudant">Taroudant</option>
                <option value="Tiznit">Tiznit</option>
                <option value="Zagora">Zagora</option>
              </optgroup>
              <optgroup label="Tanger-Tétouan">
                <option value="Chefchaouen">Chefchaouen</option>
                <option value="Fahs Anjra">Fahs Anjra</option>
                <option value="Larache">Larache</option>
                <option value="Tanger">Tanger</option>
                <option value="Tetouan">Tétouan</option>
              </optgroup>
              <optgroup label="Taza-Al-Hoceima-Taounate">
                <option value="Al Hoceima">Al Hoceima</option>
                <option value="Taounate">Taounate</option>
                <option value="Taza">Taza</option>
              </optgroup>
            </select>
          </div>
        </div>

        <div class="form-row" *ngIf="typeRegulier == false">
          <div class="form-group col-md-6">
            <label for="date_debut">Date Debut</label>
            <input type="date" ngModel name="date_debut" class="form-control" placeholder="date_debut" required>
          </div>
          <div class="form-group col-md-6">
            <label for="date_arrivee">Date Arrivee</label>
            <input type="date" ngModel name="date_arrivee" class="form-control" placeholder="date_arrivee" required>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="heure_debut">Heure Debut</label>
            <input type="time" ngModel name="heure_debut" class="form-control" placeholder="heure_debut" required>
          </div>
          <div class="form-group col-md-6">
            <label for="heure_arrivee">Heure Arrivee</label>
            <input type="time" ngModel name="heure_arrivee" class="form-control" placeholder="heure_arrivee" required>
          </div>
        </div>

        <div class="form-group" *ngIf="typeRegulier == true">
          <label for="jour">Jour</label>
          <input type="text" ngModel name="jour" class="form-control" placeholder="Jour" [required]="'typeRegulier'">
        </div>
        <div class="modal-footer">
          <button type="button" id="add-vehicule-form" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
          <button [disabled]="addAForm.invalid" type="submit" class="btn btn-primary">Ajouter</button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>

  <!-- Notification for no annonces -->
  <div *ngIf="annonces?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
    <div class="alert alert-info" role="alert">
      <h4 class="alert-heading">NO Annonces!</h4>
      <p>No Annonces were found.</p>
    </div>
  </div>