@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css';
@import 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';


/* You can add global styles to this file, and also import other style files */

@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css';
@import 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';

body{
    background:#f3f3f3;
    margin-top:20px;
    color: #616f80;
}

.card {
    border: none;
    margin-bottom: 24px;
    -webkit-box-shadow: 0 0 13px 0 rgba(236,236,241,.44);
    box-shadow: 0 0 13px 0 rgba(236,236,241,.44);
}

.avatar-xs {
    height: 2.3rem;
    width: 2.3rem;
}


body{
    background-color: #f6f6f6;
    margin-top:20px;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    border: none;
    position: initial;
    margin-bottom: 30px;
    box-shadow: 0 0.46875rem 2.1875rem rgba(90,97,105,0.1), 0 0.9375rem 1.40625rem rgba(90,97,105,0.1), 0 0.25rem 0.53125rem rgba(90,97,105,0.12), 0 0.125rem 0.1875rem rgba(90,97,105,0.1);
}

.card .card-header {
    border-bottom-color: #f9f9f9;
    line-height: 30px;
    -ms-grid-row-align: center;
    align-self: center;
    width: 100%;
    padding: 10px 25px;
    display: flex;
    align-items: center;
}

.card .card-header, .card .card-body, .card .card-footer {
    background-color: transparent;
    padding: 20px 25px;
}
.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}
.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.table:not(.table-sm) thead th {
    border-bottom: none;
    background-color: #e9e9eb;
    color: #666;
    padding-top: 15px;
    padding-bottom: 15px;
}

.table .table-img img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid #bbbbbb;
    -webkit-box-shadow: 5px 6px 15px 0px rgba(49,47,49,0.5);
    -moz-box-shadow: 5px 6px 15px 0px rgba(49,47,49,0.5);
    -ms-box-shadow: 5px 6px 15px 0px rgba(49,47,49,0.5);
    box-shadow: 5px 6px 15px 0px rgba(49,47,49,0.5);
    text-shadow: 0 0 black;
}

.table .team-member-sm {
    width: 32px;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
.table .team-member {
    position: relative;
    width: 30px;
    white-space: nowrap;
    border-radius: 1000px;
    vertical-align: bottom;
    display: inline-block;
}

.table .order-list li img {
    border: 2px solid #ffffff;
    box-shadow: 4px 3px 6px 0 rgba(0,0,0,0.2);
}
.table .team-member img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border: 0;
    border-radius: 1000px;
}
.rounded-circle {
    border-radius: 50% !important;
}

.table .order-list li+li {
    margin-left: -14px;
    background: transparent;
}
.avatar.avatar-sm {
    font-size: 12px;
    height: 30px;
    width: 30px;
}
.avatar {
    border-radius: 50%;
    color: #e3eaef;
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    position: relative;
    vertical-align: middle;
    line-height: 1.28;
    height: 45px;
    width: 45px;
}

.table .order-list li .badge {
    background: rgba(228,222,222,0.8);
    color: #6b6f82;
    margin-bottom: 6px;
}

.badge {
    vertical-align: middle;
    padding: 7px 12px;
    font-weight: 600;
    letter-spacing: 0.3px;
    border-radius: 30px;
    font-size: 12px;
}

.progress-bar {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #007bff;
    -webkit-transition: width .6s ease;
    transition: width .6s ease;
}

.bg-success {
    background-color: #54ca68 !important;
}

.bg-purple {
    background-color: #9c27b0 !important;
    color: #fff;
}

.bg-cyan {
    background-color: #10cfbd !important;
    color: #fff;
}

.bg-red {
    background-color: #f44336 !important;
    color: #fff;
}

.progress {
    -webkit-box-shadow: 0 0.4rem 0.6rem rgba(0,0,0,0.15);
    box-shadow: 0 0.4rem 0.6rem rgba(0,0,0,0.15);
}
@media screen and (min-width: 1200px) { .container{    max-width: 1414px;}}
.mat-form-field{
    margin: 10px 20px 10px 0px;
}

@media screen and (max-width: 960px) {
   
    .mat-table {
      border: 0;
      vertical-align: middle;
    }
  
    .mat-table caption {
      font-size: 1em;
    }
  
    /*  Enable this to hide header */
    .mat-table .mat-header-cell {
      
      border: 10px solid;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    /*  ---------------------------- */
    .mat-table .mat-row {
      border-bottom: 15px solid #ddd;
      display: block;
    }
    /*
    .mat-table .mat-row:nth-child(even) {background: #CCC}
    .mat-table .mat-row:nth-child(odd) {background: #FFF}
    */
    .mat-table .mat-cell {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: 1em;
      text-align: right;
      font-weight: bold;
      height: 30px;
      margin-bottom: 4%;
    }
    .mat-table .mat-cell:before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      text-transform: uppercase;
      font-weight: normal;
  
      font-size: 0.85em;
    }
    .mat-table .mat-cell:last-child {
      border-bottom: 0;
    }
    .mat-table .mat-cell:first-child {
      margin-top: 4%;
    }
    mat-cell:first-of-type, mat-header-cell:first-of-type, mat-footer-cell:first-of-type{
        padding-left: 0%;
    }
    mat-cell:last-of-type, mat-header-cell:last-of-type, mat-footer-cell:last-of-type{
        padding-right: 0%;
    }
    .mr-4, .mx-4{
        margin-right:0%!important;
    }
  }


.make-Termine {
    background-color: rgb(152, 248, 107)
}
.make-Supprimer {
    background-color: rgb(248, 107, 107)
}
.make-BGG {
    background-color: rgb(241 241 241);
}

.fa-map-marker{
    margin-right: 5px;
}

.fa-marginright{
    margin-right: 5px;
}

.greentable{
    color: #22af47;
}

.redtable{
    color: #dc3545;
}







.bg-light-blue {
    background-color: #e9f7fe !important;
    color: #3184ae;
    padding: 7px 18px;
    border-radius: 4px;
}

.bg-light-pink {
    background-color: #fee9f4 !important;
    color: rgb(255, 93, 182);
    padding: 7px 18px;
    border-radius: 4px;
}
.badge-primary-pink {
    color: #fff;
    background-color: #ff00aa;
}

.bg-light-green {
    background-color: rgba(40, 167, 69, 0.2) !important;
    padding: 7px 18px;
    border-radius: 4px;
    color: #28a745 !important;
}

.buttons-to-right {
    position: absolute;
    right: 0;
    top: 40%;
}

.btn-gray {
    color: #666;
    background-color: #eee;
    padding: 7px 18px;
    border-radius: 4px;
}

.booking:hover .buttons-to-right .btn-gray {
    opacity: 1;
    transition: .3s;
}

.buttons-to-right .btn-gray {
    opacity: 0;
    transition: .3s;
}

.btn-gray:hover {
    background-color: #36a3f5;
    color: #fff;
}

.btn-Approve
{
    border: none;
}

.btn-Reject
{
    border: none;
}

.btn-Approve:hover
{
    background-color: #28a745;
    color: #fff;
}

.btn-Reject:hover
{
    background-color: #dc3545;
    color: #fff;
}

.booking {
    margin-bottom: 30px;
    border-bottom: 1px solid #eee;
    padding-bottom: 30px;
}

.booking:last-child {
    margin-bottom: 0px;
    border-bottom: none;
    padding-bottom: 0px;
}

@media screen and (max-width: 575px) {
    .buttons-to-right {
        top: 10%;
    }
    .buttons-to-right a {
        display: block;
        margin-bottom: 20px;
    }
    .buttons-to-right a:last-child {
        margin-bottom: 0px;
    }
    .bg-light-blue,
    .bg-light-green,
    .btn-gray {
        padding: 7px;
    }
}

.card {
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    box-shadow: none;
    border: none;
    padding: 25px;
}
.mb-5, .my-5 {
    margin-bottom: 3rem!important;
}
.msg-img {
    margin-right: 20px;
}
.msg-img img {
    width: 60px;
    border-radius: 50%;
}
img {
    max-width: 100%;
    height: auto;
}







/* Avatar---------------------------------------------------------------------------------  */


/*Avatar*/
.hk-sec-wrapper {
    background: #fff;
    padding: 1.5rem;
    border-radius: .25rem;
    margin-bottom: 14px;
}
.hk-sec-wrapper .hk-sec-title {
    display: block;
    margin-bottom: 10px;
}
.mb-40 {
    margin-bottom: 40px !important;
}
.mr-10 {
    margin-right: 10px !important;
}
.avatar {
    font-size: 1rem;
    position: relative;
    display: inline-block;
    width: 3.875rem;
    height: 3.875rem;
}

.avatar.avatar-xl {
    font-size: 1.70833rem;
    width: 5.125rem;
    height: 5.125rem;
}

.avatar.avatar-lg {
    font-size: 1.4rem;
    width: 4.5rem;
    height: 4.5rem;
}

.avatar.avatar-md {
    font-size: .95rem;
    width: 3.25rem;
    height: 3.25rem;
}

.avatar.avatar-sm {
    font-size: .9rem;
    width: 2.625rem;
    height: 2.625rem;
}

.avatar.avatar-xs {
    font-size: .6rem;
    width: 2rem;
    height: 2rem;
}

.avatar .avatar-img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.avatar .avatar-text {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    text-transform: uppercase;
    overflow: hidden;
    background: #fff;
    font-weight: 600;
    color: #00acf0;
}

.avatar .avatar-text .initial-wrap {
    display: table;
    width: 100%;
    height: 100%;
}

.avatar .avatar-text .initial-wrap > span {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.avatar .avatar-text:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: rgba(178, 230, 250, 0.5);
}

.avatar .avatar-text.avatar-text-cyan,
.avatar .avatar-text.avatar-text-info {
    color: #1ebccd;
}

.avatar .avatar-text.avatar-text-cyan:before,
.avatar .avatar-text.avatar-text-info:before {
    background: rgba(187, 235, 240, 0.5);
}

.avatar .avatar-text.avatar-text-light {
    color: #6f7a7f;
}

.avatar .avatar-text.avatar-text-light:before {
    background: rgba(173, 179, 182, 0.5);
}

.avatar .avatar-text.avatar-text-dark {
    color: #fff;
}

.avatar .avatar-text.avatar-text-dark:before {
    background: #324148 !important;
}

.avatar .avatar-text.avatar-text-sky,
.avatar .avatar-text.avatar-text-primary {
    color: #00acf0;
}

.avatar .avatar-text.avatar-text-sky:before,
.avatar .avatar-text.avatar-text-primary:before {
    background: rgba(178, 230, 250, 0.5);
}

.avatar .avatar-text.avatar-text-green,
.avatar .avatar-text.avatar-text-success {
    color: #22af47;
}

.avatar .avatar-text.avatar-text-green:before,
.avatar .avatar-text.avatar-text-success:before {
    background: rgba(188, 231, 199, 0.5);
}

.avatar .avatar-text.avatar-text-red,
.avatar .avatar-text.avatar-text-danger {
    color: #f83f37;
}

.avatar .avatar-text.avatar-text-red:before,
.avatar .avatar-text.avatar-text-danger:before {
    background: rgba(253, 197, 195, 0.5);
}

.avatar .avatar-text.avatar-text-yellow,
.avatar .avatar-text.avatar-text-warning {
    color: #ffbf36;
}

.avatar .avatar-text.avatar-text-yellow:before,
.avatar .avatar-text.avatar-text-warning:before {
    background: rgba(255, 236, 194, 0.5);
}

.avatar .avatar-text.avatar-text-pink {
    color: #ed1b60;
}

.avatar .avatar-text.avatar-text-pink:before {
    background: rgba(250, 186, 207, 0.5);
}

.avatar .avatar-text.avatar-text-purple {
    color: #ab26aa;
}

.avatar .avatar-text.avatar-text-purple:before {
    background: rgba(230, 189, 229, 0.5);
}

.avatar .avatar-text.avatar-text-violet {
    color: #6640b2;
}

.avatar .avatar-text.avatar-text-violet:before {
    background: rgba(209, 197, 232, 0.5);
}

.avatar .avatar-text.avatar-text-indigo {
    color: #3a55b1;
}

.avatar .avatar-text.avatar-text-indigo:before {
    background: rgba(196, 204, 231, 0.5);
}

.avatar .avatar-text.avatar-text-blue {
    color: #0092ee;
}

.avatar .avatar-text.avatar-text-blue:before {
    background: rgba(178, 222, 250, 0.5);
}

.avatar .avatar-text.avatar-text-teal {
    color: #009b84;
}

.avatar .avatar-text.avatar-text-teal:before {
    background: rgba(178, 225, 218, 0.5);
}

.avatar .avatar-text.avatar-text-neon {
    color: #88c241;
}

.avatar .avatar-text.avatar-text-neon:before {
    background: rgba(219, 237, 198, 0.5);
}

.avatar .avatar-text.avatar-text-lime {
    color: #d0d962;
}

.avatar .avatar-text.avatar-text-lime:before {
    background: rgba(241, 244, 208, 0.5);
}

.avatar .avatar-text.avatar-text-sun {
    color: #fde335;
}

.avatar .avatar-text.avatar-text-sun:before {
    background: rgba(254, 247, 194, 0.5);
}

.avatar .avatar-text.avatar-text-orange {
    color: #ff9528;
}

.avatar .avatar-text.avatar-text-orange:before {
    background: rgba(255, 223, 190, 0.5);
}

.avatar .avatar-text.avatar-text-pumpkin {
    color: #ff6028;
}

.avatar .avatar-text.avatar-text-pumpkin:before {
    background: rgba(255, 207, 190, 0.5);
}

.avatar .avatar-text.avatar-text-brown {
    color: #7a5449;
}

.avatar .avatar-text.avatar-text-brown:before {
    background: rgba(215, 203, 200, 0.5);
}

.avatar .avatar-text.avatar-text-gold {
    color: #c1993f;
}

.avatar .avatar-text.avatar-text-gold:before {
    background: rgba(236, 224, 197, 0.5);
}

.avatar .avatar-text.avatar-text-grey,
.avatar .avatar-text.avatar-text-secondary {
    color: #9e9e9e;
}

.avatar .avatar-text.avatar-text-grey:before,
.avatar .avatar-text.avatar-text-secondary:before {
    background: rgba(226, 226, 226, 0.5);
}

.avatar .avatar-text.avatar-text-inv-cyan,
.avatar .avatar-text.avatar-text-inv-info {
    color: #fff;
}

.avatar .avatar-text.avatar-text-inv-cyan:before,
.avatar .avatar-text.avatar-text-inv-info:before {
    background-color: #1ebccd !important;
}

.avatar .avatar-text.avatar-text-inv-sky,
.avatar .avatar-text.avatar-text-inv-primary {
    color: #fff;
}

.avatar .avatar-text.avatar-text-inv-sky:before,
.avatar .avatar-text.avatar-text-inv-primary:before {
    background-color: #00acf0 !important;
}

.avatar .avatar-text.avatar-text-inv-green,
.avatar .avatar-text.avatar-text-inv-success {
    color: #fff;
}

.avatar .avatar-text.avatar-text-inv-green:before,
.avatar .avatar-text.avatar-text-inv-success:before {
    background-color: #22af47 !important;
}

.avatar .avatar-text.avatar-text-inv-red,
.avatar .avatar-text.avatar-text-inv-danger {
    color: #fff;
}

.avatar .avatar-text.avatar-text-inv-red:before,
.avatar .avatar-text.avatar-text-inv-danger:before {
    background-color: #f83f37 !important;
}

.avatar .avatar-text.avatar-text-inv-yellow,
.avatar .avatar-text.avatar-text-inv-warning {
    color: #fff;
}

.avatar .avatar-text.avatar-text-inv-yellow:before,
.avatar .avatar-text.avatar-text-inv-warning:before {
    background-color: #ffbf36 !important;
}

.avatar .avatar-text.avatar-text-inv-pink {
    color: #fff;
}

.avatar .avatar-text.avatar-text-inv-pink:before {
    background-color: #ed1b60 !important;
}

.avatar .avatar-text.avatar-text-inv-purple {
    color: #fff;
}

.avatar .avatar-text.avatar-text-inv-purple:before {
    background-color: #ab26aa !important;
}

.avatar .avatar-text.avatar-text-inv-violet {
    color: #fff;
}

.avatar .avatar-text.avatar-text-inv-violet:before {
    background-color: #6640b2 !important;
}

.avatar .avatar-text.avatar-text-inv-indigo {
    color: #fff;
}

.avatar .avatar-text.avatar-text-inv-indigo:before {
    background-color: #3a55b1 !important;
}

.avatar .avatar-text.avatar-text-inv-blue {
    color: #fff;
}

.avatar .avatar-text.avatar-text-inv-blue:before {
    background-color: #0092ee !important;
}

.avatar .avatar-text.avatar-text-inv-teal {
    color: #fff;
}

.avatar .avatar-text.avatar-text-inv-teal:before {
    background-color: #009b84 !important;
}

.avatar .avatar-text.avatar-text-inv-neon {
    color: #fff;
}

.avatar .avatar-text.avatar-text-inv-neon:before {
    background-color: #88c241 !important;
}

.avatar .avatar-text.avatar-text-inv-lime {
    color: #fff;
}

.avatar .avatar-text.avatar-text-inv-lime:before {
    background-color: #d0d962 !important;
}

.avatar .avatar-text.avatar-text-inv-sun {
    color: #fff;
}

.avatar .avatar-text.avatar-text-inv-sun:before {
    background-color: #fde335 !important;
}

.avatar .avatar-text.avatar-text-inv-orange {
    color: #fff;
}

.avatar .avatar-text.avatar-text-inv-orange:before {
    background-color: #ff9528 !important;
}

.avatar .avatar-text.avatar-text-inv-pumpkin {
    color: #fff;
}

.avatar .avatar-text.avatar-text-inv-pumpkin:before {
    background-color: #ff6028 !important;
}

.avatar .avatar-text.avatar-text-inv-brown {
    color: #fff;
}

.avatar .avatar-text.avatar-text-inv-brown:before {
    background-color: #7a5449 !important;
}

.avatar .avatar-text.avatar-text-inv-gold {
    color: #fff;
}

.avatar .avatar-text.avatar-text-inv-gold:before {
    background-color: #c1993f !important;
}

.avatar .avatar-text.avatar-text-inv-grey,
.avatar .avatar-text.avatar-text-inv-secondary {
    color: #fff;
}

.avatar .avatar-text.avatar-text-inv-grey:before,
.avatar .avatar-text.avatar-text-inv-secondary:before {
    background-color: #9e9e9e !important;
}

.avatar-group {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.avatar-group .avatar {
    font-size: .9rem;
    width: 2.625rem;
    height: 2.625rem;
}

.avatar-group .avatar .avatar-img,
.avatar-group .avatar .avatar-text {
    border: 2px solid #fff;
}

.avatar-group.avatar-group-overlapped .avatar {
    margin-right: -13px;
}

.avatar-group.avatar-group-overlapped .avatar:hover {
    z-index: 1;
}

.avatar-group.avatar-group-lg .avatar {
    font-size: .95rem;
    width: 3.25rem;
    height: 3.25rem;
}

.avatar-group.avatar-group-lg.avatar-group-overlapped .avatar {
    margin-right: -15px;
}

.avatar-group.avatar-group-sm .avatar {
    font-size: .6rem;
    width: 2rem;
    height: 2rem;
}

.avatar-group.avatar-group-sm.avatar-group-overlapped .avatar {
    margin-right: -10px;
}

/* NavLeft Left Navbar Left --------------------------------------------------------------------------------------------- */


::ng-deep :root {
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #44444d;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
  }
  
  
  body::-webkit-scrollbar {
    width: 0.25rem;
  }
  
  body::-webkit-scrollbar-track {
    background: #1e1e24;
  }
  
  body::-webkit-scrollbar-thumb {
    background: #6649b8;
  }
  
  main {
    margin-left: 5rem;
    padding: 1rem;
  }
  
  .navleftbar {
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 600ms ease;
    overflow: scroll;
    z-index:100
  }
  
  .navleftbar-navleft {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  
  .navleft-item {
    width: 100%;
  }
  
  .navleft-item:last-child {
    margin-top: auto;
}
  
  .navleft-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
  }
  
  .navleft-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
  }
  
  .link-text {
    display: none;
    margin-left: 1rem;
  }
  
  .navleft-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
  }
  
  .fa-primary {
    color: #ff7eee;
  }
  
  .fa-secondary {
    color: #df49a6;
  }
  
  .fa-primary,
  .fa-secondary {
    transition: var(--transition-speed);
  }
  
  .logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
  }
  
  .logo svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
  }
  
  .logo-text
  {
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
  }
  
  .navleftbar:hover .logo svg {
    transform: rotate(-180deg);
  }
  
  /* Small screens */
  @media only screen and (max-width: 600px) {
    .navleftbar {
      bottom: 0;
      width: 100vw;
      height: 5rem;
    }
    .nav{
        flex-wrap: initial;
    }
  
    .logo {
      display: none;
    }
  
    .navleftbar-navleft {
      flex-direction: row;
    }
  
    .navleft-link {
      justify-content: center;
    }
  
    main {
      margin: 0;
    }
    
  }
  
  /* Large screens */
  @media only screen and (min-width: 600px) {
    .navleftbar {
      top: 0;
      width: 5rem;
      height: 100vh;
    }
    .nav{
        flex-wrap: initial;
    }
  
    .navleftbar:hover {
      width: 16rem;
    }
  
    .navleftbar:hover .link-text {
      display: inline;
    }
  
    .navleftbar:hover .logo svg
    {
      margin-left: 11rem;
    }
  
    .navleftbar:hover .logo-text
    {
      left: 0px;
    }
  }
  
  .dark {
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
  }
  
  .light {
    --text-primary: #1f1f1f;
    --text-secondary: #000000;
    --bg-primary: #ffffff;
    --bg-secondary: #e4e4e4;
  }
  
  .solar {
    --text-primary: #576e75;
    --text-secondary: #35535c;
    --bg-primary: #fdf6e3;
    --bg-secondary: #f5e5b8;
  }
  
  .theme-icon {
    display: none;
  }
  
  .dark #darkIcon {
    display: block;
  }
  
  .light #lightIcon {
    display: block;
  }
  
  .solar #solarIcon {
    display: block;
  }
  
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }



  .col-12,.col-md-12,.col-sm-12{
    position: initial;
  }

  /* END OF  NavLeft Left Navbar Left --------------------------------------------------------------------------------------------- */
  .nav-boxshadow{
    box-shadow: 0 0 9px 0 rgb(0 0 0 / 10%);
  }

  .lis-inline li{
    width: 50%;
    display: inline-block;
}


.card-box {
    padding: 20px;
    border-radius: 3px;
    margin-bottom: 30px;
    background-color: #fff;
}
.thumb-sm {
    height: 36px;
    width: 36px;
}

.task-detail .task-dates li {
    width: 50%;
    float: left
}

.task-detail .task-tags .bootstrap-tagsinput {
    padding: 0;
    border: none
}

.task-detail .assign-team a {
    display: inline-block;
    margin: 5px 5px 5px 0
}

.task-detail .files-list .file-box {
    display: inline-block;
    vertical-align: middle;
    width: 80px;
    padding: 2px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    background-clip: padding-box
}

.task-detail .files-list .file-box img {
    line-height: 70px
}

.task-detail .files-list .file-box p {
    width: 100%;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}



.badge-male {
    color: #fff;
    background-color: #5dccff;
}

.badge-female {
    color: #fff;
    background-color: #ff93c0;
}




body{
    margin-top:20px;
    padding-top: 20px;
    color: #1a202c;
    text-align: left;
    background-color: #668cbe;    
}
.navbar{
    width: 100%;
}
.display-4{
    text-align: center;
}

.main-body {
    padding: 40px;
}
.card {
    box-shadow: 0 1px 3px 0 rgba(17, 17, 17, 0.1), 0 1px 2px 0 rgba(0,0,0,.06);
}
.col-sm-9 {
    text-align: center;
    width: 20px;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgb(255, 255, 255);
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
    box-shadow: 0 0 10px rgb(117, 117, 117);
}

.card-body {
    flex: 1 1 auto;
    height: 400px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
    justify-content: center;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #5577a3;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}


.col-sm-9{width: auto;}
